.swiper-height{
    height: 60vh; 
     
}
.css-cuefkz-MuiContainer-root{
 padding-left: 0 !important;
 padding-right: 0 !important;
}
.swiper-slide{
 width: 100%;
}

.img-fluid{
  height: 60vh ;
  
}
.align{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
}